<div class="mb-32">
    <h6 class="mb-16">Danh sách Cư dân</h6>
    <form [formGroup]="tableHelper.filterForm" (submit)="search()">
        <div class="d-flex">
            <div class="mr-16" style="width: 252px;">
                <app-dropdown [label]="'Block'" [placeholder]="'Select Block'" [options]="(blockDD$|async)"
                    formControlName="blockId" [showSearch]="true" (ngModelChange)="blockSelected($event)">
                </app-dropdown>
            </div>
            <div class="mr-16" style="width: 252px;">
                <app-dropdown label="Căn hộ" [showSearch]="true" [placeholder]="'All'" [options]="(aptsDD$|async)"
                    formControlName="aptId" (ngModelChange)="search()">
                </app-dropdown>
            </div>
            <div class="mr-16" style="width: 252px;">
                <app-dropdown label="Loại" [showSearch]="true" [placeholder]="'Search by Type'"
                    [options]="RESIDENT_TYPE" formControlName="type" (ngModelChange)="search()">
                </app-dropdown>
            </div>
            <div>
                <app-input label="Name" formControlName="name" [placeholder]="'Seach by Name'" [clearfix]="true"
                    (onClear)="search()"></app-input>
            </div>
            <!-- <i class="ml-auto">Refresh</i> -->
            <div class="ml-auto d-flex ai-end">
                <i class='bx bx-refresh pointer refresh' style="font-size: 48px;" (click)="refreshFilter()"></i>
            </div>
        </div>
        <button type="submit" hidden></button>
    </form>
</div>
<ng-container *ngIf="(result$|async) as result; else loading">
    <table class="vcc-table mb-24">
        <thead>
            <tr>
                <th scope="col" width="5%">#</th>
                <th scope="col" width="15%">Họ & Tên</th>
                <th scope="col" width="15%">Block</th>
                <th scope="col" width="10%">Căn hộ</th>
                <th scope="col" width="10%">Loại</th>
                <th scope="col" width="12%">Ngày sinh</th>
                <th scope="col" width="20%">Email</th>
                <th scope="col" width="13%">Số điện thoại</th>
            </tr>
        </thead>

        <ng-container *ngIf="(blocksP$|async) as blocks">
            <ng-container *ngIf="(apts$|async) as apts">
                <ng-container *ngIf="!tableHelper.isLoading else loading">
                    <tbody>
                        <tr class="table-row" *ngFor="let item of result.items, index as id" (click)="viewDetail(item)">
                            <td width="5%">{{id + 1 + tableHelper.paginator.getStart()}}</td>
                            <td width="15%">{{item.name}} </td>
                            <td width="15%">{{item.blockId | block:blocks}} </td>
                            <td width="10%">{{item.aptId | apt: apts}} </td>
                            <td width="10%">
                                {{item.type === RESIDENT_TYPE_LIST[0].id
                                ?RESIDENT_TYPE_LIST[0].text:RESIDENT_TYPE_LIST[1].text}}
                            </td>
                            <td width="12%">{{item.dateOfBirth|date:"dd-MM-yyyy"}} </td>
                            <td width="20%">{{item.email}} </td>
                            <td width="13%">{{item.phoneNumber}} </td>
                        </tr>
                    </tbody>
                </ng-container>
            </ng-container>
        </ng-container>
    </table>
    <nz-empty class="mt-48" *ngIf="result.total == 0"
        nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg">
    </nz-empty>
    <div class="text-center">
        <app-paginator [total]="result.total" (onPageChange)="onPageChange($event)" [pageSize]="5"></app-paginator>
    </div>
</ng-container>

<ng-template #loading>
    <app-loading></app-loading>
</ng-template>

<div class="add-btn" (click)="showModal(addTpl)">
    <i nz-icon nzType="plus" nzTheme="outline"></i>
</div>
<app-modal #modal></app-modal>
<ng-template #addTpl>
    <!-- <i class="font20 pointer" nz-icon nzType="close" nzTheme="outline"></i> -->
    <!-- <app-add-apartment [tableHelper]="tableHelper" (success)="success()"></app-add-apartment> -->
    <app-add-resident [tableHelper]="tableHelper"></app-add-resident>
</ng-template>