<div class="d-flex ai-center jc-space-between mb-48">
    <h6 class="mb-0">Apartment</h6>
    <form [formGroup]="tableHelper.filterForm" (submit)="search()">
        <div class="d-flex">
            <div class="mr-16" style="width: 252px;">
                <app-dropdown 
                    [showSearch] = "true"
                    [placeholder]="'Search by Block'" 
                    [options]="(blocks$|async)" 
                    formControlName="blockId"
                    (ngModelChange)="search()"
                >
                </app-dropdown>
            </div>
            <div>
                <app-input formControlName="name" [placeholder]="'Seach by Name'" [clearfix]="true"
                    [suffixTpl]="searchTpl" (onClear)="search()"></app-input>
                <ng-template #searchTpl>
                    <i class="pointer font20" nz-icon nzType="search" nzTheme="outline" (click)="search()"></i>
                </ng-template>
                <button type="submit" hidden></button>
            </div>
        </div>
    </form>
</div>
<div *ngIf="(result$|async) as result, else loading">
    <table class="vcc-table">
        <thead>
            <tr>
                <th scope="col" width="10%">#</th>
                <th scope="col" width="15%">Tên</th>
                <th scope="col" width="20%">Block</th>
                <th scope="col" width="15%">Diện tích</th>
                <th scope="col" width="15%">Trạng thái</th>
                <th scope="col" width="25%">Mô tả</th>
            </tr>
        </thead>
    </table>
    <div class="table-body mb-32">
        <table class="vcc-table">
            <tbody>
                <tr class="table-row" *ngFor="let item of result.items, index as id" (click)="viewDetail(item)">
                    <td width="10%">{{id + 1 + tableHelper.paginator.getStart()}} </td>
                    <td width="15%">{{item.name}} </td>
                    <td width="20%">{{item.blockName}} </td>
                    <td width="15%">{{item.area}} </td>
                    <td width="15%">{{item.type === '0'?'Chưa đăng ký':'Đã đăng ký'}} </td>
                    <td width="25%">{{item.description}} </td>
                </tr>
            </tbody>
        </table>
        <nz-empty class="mt-48" *ngIf="result.total == 0"
            nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg">
        </nz-empty>
    </div>
    <div class="text-center">
        <app-paginator [total]="result.total" (onPageChange)="onPageChange($event)" [pageSize]="5"></app-paginator>
    </div>
</div>
<ng-template #loading>
    <app-loading></app-loading>
</ng-template>

<div class="add-btn" (click)="showModal(addTpl)">
    <i nz-icon nzType="plus" nzTheme="outline"></i>
</div>
<app-modal #modal></app-modal>
<ng-template #addTpl>
    <!-- <i class="font20 pointer" nz-icon nzType="close" nzTheme="outline"></i> -->
    <app-add-apartment [tableHelper]="tableHelper" (success)="success()"></app-add-apartment>
</ng-template>