<div class="mb-32">
    <h6 class="mb-16">Danh sách Căn hộ</h6>
    <form [formGroup]="tableHelper.filterForm" (submit)="search()">
        <div class="d-flex">
            <div class="mr-16" style="width: 252px;">
                <app-dropdown [label]="'Block'" [showSearch]="true" [placeholder]="'Search by Block'" [options]="(blocksDD$|async)"
                    formControlName="blockId" (ngModelChange)="search()">
                </app-dropdown>
            </div>
            <div>
                <app-input [label]="'Tên'" formControlName="name" [placeholder]="'Seach by Name'" [clearfix]="true"
                    [suffixTpl]="searchTpl" (onClear)="search()"></app-input>
                <ng-template #searchTpl>
                    <i class="pointer font20" nz-icon nzType="search" nzTheme="outline" (click)="search()"></i>
                </ng-template>
                <button type="submit" hidden></button>
            </div>
            <div class="ml-auto d-flex ai-end">
                <i class='bx bx-refresh pointer refresh' style="font-size: 48px;" (click)="refreshFilter()"></i>             
            </div>
        </div>
    </form>
</div>
<div *ngIf="(result$|async) as result, else loading">
    <table class="vcc-table mb-24">
        <thead>
            <tr>
                <th scope="col" width="10%">#</th>
                <th scope="col" width="15%">Tên căn hộ</th>
                <th scope="col" width="15%">Tên Block</th>
                <th scope="col" width="25%">Diện tích</th>
                <th scope="col" width="35%">Mô tả</th>
            </tr>
        </thead>
        <tbody *ngIf="( blocksP$ |async) as blocks; else loading">
            <tr class="table-row" *ngFor="let item of result.items, index as id" (click)="viewDetail(item)">
                <td>{{id + 1 + tableHelper.paginator.getStart()}} </td>
                <td>{{item.name}} </td>
                <td>{{item.blockId | block: blocks}} </td>
                <td>{{item.area}} m²</td>
                <td class="text-overflow">
                  {{item.description}}
                </td>
            </tr>
        </tbody>
    </table>
    <nz-empty class="mt-48" *ngIf="result.total == 0"
        nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg">
    </nz-empty>
    <div class="text-center">
        <app-paginator [total]="result.total" (onPageChange)="onPageChange($event)" [pageSize]="5"></app-paginator>
    </div>
</div>
<ng-template #loading>
    <app-loading></app-loading>
</ng-template>

<div class="add-btn" (click)="showModal(addTpl)">
    <i nz-icon nzType="plus" nzTheme="outline"></i>
</div>
<app-modal #modal></app-modal>
<ng-template #addTpl>
    <!-- <i class="font20 pointer" nz-icon nzType="close" nzTheme="outline"></i> -->
    <app-add-apartment [tableHelper]="tableHelper" (success)="success()"></app-add-apartment>
</ng-template>