<app-header [pageName]="'Thêm ban quản lý'" (close)="modal.closeAll()"></app-header>
<form [formGroup]="form" (submit)="add()">
    <div class="input-group">
        <app-input [isRequired]="true" label="Tên ban quản lý" formControlName="name"></app-input>
        <app-error-message-validator [formGroup]="form" [controlName]="'name'"
            [validationMessages]="{'required':ERROR_MSG.INVALID}"></app-error-message-validator>
    </div>
    <div class="input-group">
        <app-input [isRequired]="true" label="Email" formControlName="email"></app-input>
        <app-error-message-validator [formGroup]="form" [controlName]="'email'"
            [validationMessages]="{'pattern':ERROR_MSG.EMAIL}"></app-error-message-validator>
    </div>
    <div class="input-group">
        <app-input [isRequired]="true" label="Mật khẩu" formControlName="password" type="password"></app-input>
        <app-error-message-validator [formGroup]="form" [controlName]="'password'"
            [validationMessages]="{'pattern':ERROR_MSG.PASSWORD}"></app-error-message-validator>
    </div>
    <div class="input-group">
        <app-date-picker [isRequired]="true" label="Ngày sinh" formControlName="dateOfBirth" [disabledDate]="disabledDate"></app-date-picker>
        <app-error-message-validator [formGroup]="form" [controlName]="'dateOfBirth'"
            [validationMessages]="{'required':ERROR_MSG.INVALID}"></app-error-message-validator>
    </div>
    <div class="input-group">
        <app-input  [isRequired]="true" label="Thẻ căn cước / CMND" formControlName="identityCard"></app-input>
        <app-error-message-validator [formGroup]="form" [controlName]="'identityCard'"
            [validationMessages]="{'pattern':ERROR_MSG.ONLY_NUMBER}"></app-error-message-validator>
    </div>
    <div class="input-group">
        <app-input  [isRequired]="true" label="Số điện thoại" formControlName="phoneNumber"></app-input>
        <app-error-message-validator [formGroup]="form" [controlName]="'phoneNumber'"
            [validationMessages]="{'pattern':ERROR_MSG.ONLY_NUMBER}"></app-error-message-validator>
    </div>
    <div class="input-group">
        <app-textarea [isRequired]="true" label="Địa chỉ" formControlName="addr"></app-textarea>
        <app-error-message-validator [formGroup]="form" [controlName]="'addr'"
            [validationMessages]="{'pattern':ERROR_MSG.INVALID}"></app-error-message-validator>
    </div>
    <button type="submit" class="vcc-btn-fill blue w-100"
        [disabled]="form.invalid || form.pristine || pending">Save</button>
</form>