<ul nz-menu nzTheme="dark" nzMode="inline">
    <li nz-menu-item [routerLink]="[ROUTER_CONST.DASHBOARD]">
        <i nz-icon nzType="area-chart"></i>
        <span>Trang chủ</span>
    </li>
    <li nz-submenu nzTitle="Hạ tầng" nzIcon="insert-row-left">
        <ul>
            <li nz-menu-item [routerLink]="[ROUTER_CONST.BLOCK.LIST]">Block</li>
            <li nz-menu-item [routerLink]="[ROUTER_CONST.APARTMENT.LIST]">Căn hộ</li>
        </ul>
    </li>
    <li nz-submenu nzTitle="Cư dân" nzIcon="usergroup-add">
        <ul>
            <li nz-menu-item [routerLink]="[ROUTER_CONST.RESIDENT.LIST]">Cư dân</li>
            <li nz-menu-item [routerLink]="[ROUTER_CONST.VEHICLE.LIST]">Xe</li>
        </ul>
    </li>
    <li nz-submenu nzTitle="Chi phí" nzIcon="transaction">
        <ul>
            <li nz-menu-item [routerLink]="[ROUTER_CONST.SERVICE.LIST]">Dịch vụ</li>
            <li nz-menu-item [routerLink]="[ROUTER_CONST.BILL.LIST]">Thanh toán</li>
        </ul>
    </li>
    <li *ngIf="(role$ | async) == '0'" nz-menu-item [routerLink]="[ROUTER_CONST.EMPLOYEE.LIST]">
        <i nz-icon nzType="user"></i>
        <span>Ban quản lý</span>
    </li>
    <li nz-menu-item (click)="navProfile()">
        <i nz-icon nzType="profile"></i>
        <span>Tài khoản</span>
    </li>
</ul>
