@import "variable.scss";
.vcc-table {
    width: 100%;
    thead {
        th {
            font-size: 16px;
            font-weight: bold;
            color: $color-black;
            border-bottom: 1px solid $color-bluish-grey-10;
            border-top: 1px solid $color-bluish-grey-10;
            padding: 24px;
        }
    }
    tbody {
        tr {
            td {
                padding: 24px;
                border-bottom: 1px solid $color-bluish-grey-10;
            }
        }
        tr:last-child {
            td {
                border-bottom: none;
            }
        }
    }
}
.table-body {
    height: 352px;
    overflow-y: auto;
}

.table-row {
    &:hover {
        background-color: $color-light-grey;
        cursor: pointer;
    }
}
