//corlor varable
$color-yellow: #fecf64;
$color-dull-yellow: #e5ba5a;
$color-pastel-pink: #ffe6ea;
$color-dull-pink: #e8cfd3;
$color-dark-pink: #ceb0b4;
$color-red: #e30c2b;
$color-bright-red: #ff0014;
$color-nets-red: #e70033;
$color-dull-red: #ba173b;
$color-dark-red: #93091a;
$color-black: #0b182c;
$color-dark-grey: #434f60;
$color-bluish-grey: #66748f;
$color-bluish-grey-40: #818ba2;
$color-bluish-grey-35: #939cb1;
$color-bluish-grey-25: #b1bcd0;
$color-bluish-grey-10: #cfd7e6;
$color-bluish-grey-5: #e6eaf2;
$color-grey: #eceef2;
$color-light-grey: #f8f9fb;
$color-white: #ffffff;
$color-pastel-blue: #edf7ff;
$color-baby-blue: #def0ff;
$color-dull-blue: #def0ff;
$color-light-blue: #3373c1;
$color-bright-blue: #0063db;
$color-nets-blue: #0046ad;
$color-navy-blue: #063686;
$color-dark-blue: #032e72;
$color-deep-blue: #042355;
$color-green: #18d000;
$border-bluish-grey-10: 1px solid $color-bluish-grey-10;
$border-dark-grey: 1px solid $color-dark-grey;
$border-grey: 1px solid $color-grey;
$box-shadow-1: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
$color-bg-card: #003da5;

//SCREEN TYPE

$screen-type-mobile : 320px;
$screen-type-mobile-l : 481px;
$screen-type-tablet : 641px;
$screen-type-tablet-l : 961px;
$screen-type-desktop : 1025px;
$screen-type-desktop-l : 1281px;

