.logo {
    height: 80px;
    background: white;
    margin: 16px;
    text-align: center;
    img{
        max-height: 100%;
    }
}

nz-header {
    background: #fff;
    padding: 0px 16px;
}

nz-content {
    margin: 0 16px;
}

nz-breadcrumb {
    margin: 16px 0;
}

.inner-content {
    padding: 24px;
    padding-top: 40px;
    background: #fff;
    min-height: 360px;
    overflow-y: auto;
}

nz-footer {
    text-align: center;
}
:host ::ng-deep .ant-layout-sider-trigger1{
    pointer-events: none;
    display: none;
}
:host ::ng-deep .ant-layout-sider-trigger1 {
    position: fixed;
    bottom: 0;
    z-index: 1;
    height: 48px;
    color: #fff;
    line-height: 48px;
    text-align: center;
    background: #002140;
    cursor: pointer;
    transition: all .2s;
}