<div class="p-8">
    <app-header [pageName]="'Thêm căn hộ'" (close)="modal.closeAll()"></app-header>
    <form [formGroup]="form" (submit)="add()">
        <div class="input-group">
            <app-input [isRequired]="true" label="Tên cư dân" formControlName="name"></app-input>
            <app-error-message-validator [formGroup]="form" [controlName]="'name'"
            [validationMessages]="{'required':ERROR_MSG.INVALID}"
            ></app-error-message-validator>
        </div>
        <div class="input-group">
            <app-dropdown [isRequired]="true"
            [label]="'Block'"
            [placeholder]="'Select Block'" 
            [options]="(blocks$|async)" 
            formControlName="blockId"
            [showSearch]="true"
            (ngModelChange)="blockSelected($event)"
            ></app-dropdown>
            <app-error-message-validator [formGroup]="form" [controlName]="'blockId'"
            [validationMessages]="{'required':ERROR_MSG.INVALID}"
            ></app-error-message-validator>
        </div>
        <div class="input-group">
            <app-dropdown [isRequired]="true"
            [label]="'Căn hộ'"
            [placeholder]="'Select Apartment'" 
            [options]="(apt$|async)" 
            formControlName="aptId"
            [showSearch]="true"
            ></app-dropdown>
            <app-error-message-validator [formGroup]="form" [controlName]="'aptId'"
            [validationMessages]="{'required':ERROR_MSG.INVALID}"
            ></app-error-message-validator>
        </div>
        <div class="input-group">
            <app-dropdown [isRequired]="true"
            [label]="'Loại'"
            [placeholder]="'Select type'" 
            [options]="options" 
            formControlName="type"
            ></app-dropdown>
            <app-error-message-validator [formGroup]="form" [controlName]="'type'"
            [validationMessages]="{'required':ERROR_MSG.INVALID}"
            ></app-error-message-validator>
        </div>
        <div class="input-group">
            <app-date-picker [isRequired]="true" label="Ngày sinh" formControlName="dateOfBirth"></app-date-picker>
            <app-error-message-validator [formGroup]="form" [controlName]="'dateOfBirth'"
            [validationMessages]="{'required':ERROR_MSG.INVALID}"
            ></app-error-message-validator>
        </div>
        <div class="input-group">
            <app-input label="Thẻ căn cước / CMND" formControlName="identityCard"></app-input>
            <app-error-message-validator [formGroup]="form" [controlName]="'identityCard'"
            [validationMessages]="{'pattern':ERROR_MSG.ONLY_NUMBER}"
            ></app-error-message-validator>
        </div>
        <div class="input-group">
            <app-input label="Email" formControlName="email"></app-input>
            <app-error-message-validator [formGroup]="form" [controlName]="'email'"
            [validationMessages]="{'pattern':ERROR_MSG.EMAIL}"
            ></app-error-message-validator>
        </div>
        <div class="input-group">
            <app-input label="Số điện thoại" formControlName="phoneNumber"></app-input>
            <app-error-message-validator [formGroup]="form" [controlName]="'phoneNumber'"
            [validationMessages]="{'pattern':ERROR_MSG.ONLY_NUMBER}"
            ></app-error-message-validator>
        </div>
        <div class="input-group">
            <app-textarea label="Ghi chú" formControlName="note"></app-textarea>
        </div>
        <button type="submit" class="vcc-btn-fill blue w-100"
            [disabled]="form.invalid || form.pristine || pending">Save</button>
    </form>
</div>