<app-header [pageName]="'Thông tin block'" (close)="close()"   ></app-header>
<div *ngIf=" (block$|async) as block, else loading">
    <form [formGroup]="form" (submit)="update()">
        <div class="row">
            <div class="col-4">
                <div class="input-group">
                    <app-input [isRequired]="true" label="Tên block" formControlName="name"></app-input>
                    <app-error-message-validator [formGroup]="form" [controlName]="'name'"
                    [validationMessages]="{'required':ERROR_MSG.INVALID}"
                    ></app-error-message-validator>
                </div>
            </div>
            <div class="col-4">
                <div class="input-group">
                    <app-input label="Số căn hộ" formControlName="apartmentTotal" [disabled]="true"></app-input>
                </div>
            </div>
            <div class="col-4">
                <div class="input-group">
                    <app-input label="Số dân" formControlName="residentTotal" [disabled]="true"></app-input>
                </div>
            </div>
        </div>
    
        <div class="input-group">
            <app-textarea label="Mô tả" formControlName="description"></app-textarea>
        </div>
        <button type="submit" class="vcc-btn-fill blue" [disabled]="form.invalid || form.pristine">Save</button>
    </form>
</div>

<ng-template #loading>
<app-loading></app-loading>
</ng-template>


<!-- delete -->

<div class="delete-btn" (click)="showModal(deleteTpl)">
    <i nz-icon nzType="delete" nzTheme="outline"></i>
</div>
<app-modal #modal></app-modal>
<ng-template #deleteTpl>
    <div class="title-1 mb-24">
        Are you sure?
    </div>
    <div class="medium-body-text mb-24">
        Are you sure want to delete this item?
    </div>
    <button class="vcc-btn-fill w-100 blue mb-16" (click)="deleteItem()">Ok</button>
    <button class="vcc-btn-unfill w-100 blue" (click)="modal.close()">Cancel</button>
</ng-template>

<!-- end delete -->