<app-header [pageName]="'Thông tin dịch vụ'" (close)="close()"></app-header>
<form [formGroup]="form" (submit)="update()">
    <div class="row">
        <div class="col-4">
            <div class="input-group">
                <app-input [disabled]="true" [isRequired]="true" label="Tên dịch vụ" formControlName="name"></app-input>
                <app-error-message-validator [formGroup]="form" controlName="name"
                    [validationMessages]="{'required':ERROR_MSG.INVALID}"></app-error-message-validator>
            </div>
        </div>
        <div class="col-4">
            <div class="input-group">
                <app-input [isRequired]="true" label="Giá" formControlName="cost"></app-input>
                <app-error-message-validator [formGroup]="form" controlName="cost"
                    [validationMessages]="{'required':ERROR_MSG.INVALID}"></app-error-message-validator>
            </div>
        </div>
        <div class="col-4">
            <div class="input-group">
                <app-input [disabled]="true" [isRequired]="true" label="Đơn vị tính" formControlName="unit"></app-input>
                <app-error-message-validator [formGroup]="form" controlName="unit"
                    [validationMessages]="{'required':ERROR_MSG.INVALID}"></app-error-message-validator>
            </div>
        </div>
        <div class="col-12">
            <div class="input-group">
                <app-textarea label="Mô tả" formControlName="desc"></app-textarea>
            </div>
        </div>
        <div class="col-4">
            <button type="submit" class="vcc-btn-fill blue w-100"
                [disabled]="form.invalid || form.pristine">Save</button>
        </div>
    </div>
</form>

<ng-template #loading>
    <app-loading></app-loading>
</ng-template>