<div>
    <div class="medium-body-text text-dark-grey lh-19 mb-16" *ngIf="label">{{label}} 
        <span *ngIf="isRequired" class="text-error"> (*)</span>
    </div>
    <nz-input-group class="app-input" [class.rise]="disabled" [nzPrefix]="prefixTpl ? prefix : null" [nzSuffix]="suffix" >
        <input 
        #inputEl
        class="medium-body-text" 
        [name]="name"
        nz-input 
        [placeholder]="placeholder"S
        [type]="type" 
        [(ngModel)]="value"
        (ngModelChange)="emitChange()"
        [disabled]="disabled"
        [textMask]="mask" 
        [autocomplete]="autocomplete"
        (blur)="touched()"
        />
    </nz-input-group>
    <ng-template #prefix>
        <ng-template *ngIf="true then prefixTpl"></ng-template>
    </ng-template>
    <ng-template #suffix>
        <span *ngIf="value && clearfix" >
            <i nz-icon class="clear-icon size20 d-flex ai-center mr-8"
                    nzTheme="fill" nzType="close-circle" (click)="clear()"></i>
        </span>
        <ng-template *ngIf="suffixTpl then suffixTpl"></ng-template>

    </ng-template>
</div>